@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Manrope', sans-serif;
}

@layer base {
  :root {
    --background: 200 14% 97%; /* background-light: #f5f8f8 */
    --foreground: 20 14% 4%;
    --card: 0 0% 100%;
    --card-foreground: 20 14% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14% 4%;
    --primary: 184 100% 22%; /* #006970 */
    --primary-foreground: 0 0% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 40% 9.8%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 81 100% 61%; /* #AFFF37 */
    --accent-foreground: 81 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 184 100% 22%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 195 38% 10%; /* #0f2223 */
    --foreground: 0 0% 98%;
    --card: 185 16% 13%; /* #1b2728 */
    --card-foreground: 0 0% 98%;
    --popover: 185 16% 13%;
    --popover-foreground: 0 0% 98%;
    --primary: 184 100% 22%; /* #006970 */
    --primary-foreground: 0 0% 98%;
    --secondary: 184 21% 28%;
    --secondary-foreground: 0 0% 98%;
    --muted: 184 21% 28%;
    --muted-foreground: 180 5% 65%;
    --accent: 81 100% 61%; /* #AFFF37 */
    --accent-foreground: 81 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 185 11% 22%; /* #313a3b */
    --input: 185 16% 13%;
    --ring: 81 100% 61%; /* Accent color for rings */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-height: max(884px, 100dvh);
  }
}

.font-headline {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

.glass-card {
    background: rgba(27, 39, 40, 0.7);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(57, 84, 86, 0.5);
}
.scan-glow {
    box-shadow: 0 0 15px rgba(175, 255, 55, 0.2);
}
