@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Manrope', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 170 76% 40%;
    --primary-foreground: 170 100% 95%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 40% 9.8%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 170 86% 50%;
    --accent-foreground: 170 100% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 170 76% 40%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 180 14% 10%;
    --foreground: 180 5% 90%;
    --card: 180 14% 13%;
    --card-foreground: 180 5% 90%;
    --popover: 180 14% 10%;
    --popover-foreground: 180 5% 90%;
    --primary: 170 76% 40%;
    --primary-foreground: 170 100% 95%;
    --secondary: 180 10% 20%;
    --secondary-foreground: 180 5% 90%;
    --muted: 180 10% 15%;
    --muted-foreground: 180 5% 55%;
    --accent: 170 86% 50%;
    --accent-foreground: 170 100% 95%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 10% 20%;
    --input: 180 10% 17%;
    --ring: 170 76% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-height: max(884px, 100dvh);
  }
}

.font-headline {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

.glass-card {
    background: rgba(27, 39, 40, 0.7);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(57, 84, 86, 0.5);
}
.scan-glow {
    box-shadow: 0 0 15px rgba(175, 255, 55, 0.2);
}

@layer utilities {
  .scan-line {
    @apply absolute left-0 w-full h-1 bg-accent/70 rounded-full shadow-[0_0_15px_theme(colors.accent.DEFAULT),_0_0_20px_theme(colors.accent.DEFAULT)];
    animation: scan-animation 4s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }

  @keyframes scan-animation {
    0% {
      top: 0%;
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      top: 100%;
      opacity: 0;
    }
  }
}
