@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 40 50% 98%; /* light beige - F5F5DC */
    --foreground: 20 14% 4%;
    --card: 0 0% 100%;
    --card-foreground: 20 14% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14% 4%;
    --primary: 30 100% 60%; /* warm orange - FF9933 */
    --primary-foreground: 20 14% 4%;
    --secondary: 40 50% 96.1%;
    --secondary-foreground: 20 14% 4%;
    --muted: 40 50% 92%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 148 48% 50%; /* teal - 3CB371 */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 50% 90%;
    --input: 40 50% 92%;
    --ring: 30 100% 60%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 20 14% 4%;
    --foreground: 0 0% 98%;
    --card: 20 14% 4%;
    --card-foreground: 0 0% 98%;
    --popover: 20 14% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 30 100% 60%;
    --primary-foreground: 20 14% 4%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 148 48% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 30 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.font-headline {
    font-family: 'Alegreya', serif;
}
